@import url('https://fonts.googleapis.com/css?family=Muli:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url(otra.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	color:#fff;
}

.container {
	background-color: rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3); 
	padding: 20px 40px;
	border-radius: 10px;
	box-shadow:7px 7px 70px #000;
}

.container h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.container a {
	text-decoration: none;
	color: lightblue;
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: rebeccapurple;
	padding: 15px;
	font-family: inherit;
	font-size: 20px;
	border: 0;
	border-radius: 5px;
	transition: opacity .3s ease;
}

.btn:hover {
	opacity: 1;
	background-color: rgb(130, 63, 197);
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(0.98);
}

.text {
	margin-top: 30px;
}

.form-control {
	position: relative;
	margin: 20px 0 40px;
	width: 300px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px #fff solid;
	display: block;
	width: 100%;
	padding: 15px 0;
	font-size: 20px;
	color: #fff;
}


.form-control input:focus,
.form-control input:valid {
	outline: 0;
	border-bottom-color: rebeccapurple;
}

.form-control label {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 20px;
}

.form-control label span{
	display: inline-block;
	font-size: 20px;
	min-width: 5px;
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
	color: rebeccapurple;
	transform: translateY(-30px);
}